.tabulator-menu-item{color:#e6edf3;background:var(--card-bg-color)}
html,body{padding:0;margin:0}
#main{display:flex;height:100vh;background:var(--main-bg-color);flex-direction:column;align-content:stretch}
#saver{
  text-align:start;
  padding:0.5em 1em;
  background:var(--card-bg-color);
  border-bottom:1px solid var(--main-border-color);
}
#editor{flex-grow:1}
