button.picked{text-decoration:var(--button-disabled-decoration-color) wavy line-through;text-decoration-thickness:.2em;opacity:0.6}
#teams{column-width:3.5em}
button.team{width:3em;height:1.5em;font-size:140%;margin:0.25em}
table{margin:1em auto;border-spacing:.1em;border-collapse:separate}
table td,table th{padding:0.25em;border:1px solid var(--main-border-color)}
table th{background:var(--section-bg-color);color:#8b949e;font-weight:600}
.prediction div{font-size:200%}
.matchup{padding:0 .5em;border-width:0.5em;border-style:solid;border-radius:4px}
h4{padding:0;margin:0}
.hidden{display:none}
