p{white-space:pre-wrap;overflow-wrap:break-word}
#messages{
  border:1px solid var(--main-border-color);
  border-radius:8px;
  background:var(--card-bg-color);
  max-width:30em;margin:1em auto;padding:0.8em 1em;
}
#partials{max-width:30em;margin:1em auto}
