table{border-collapse:collapse}
table td, table th{border:1px solid var(--main-border-color);vertical-align:top;padding:0.3em}
table th{background:var(--section-bg-color);color:#8b949e;font-weight:600}
.mainDiff{font-size:200%}
table table{width:100%}
html{font-size:12px}
.reviewRequested::after{content:" ⚠️"}
