pre{white-space:pre-wrap;overflow-wrap:break-word;max-width:30em;text-align:start;margin:0 auto;background:var(--card-bg-color);border:1px solid var(--main-border-color);border-radius:6px;padding:0.5em}
.deleted{border:.2em solid var(--button-disabled-decoration-color);border-radius:6px;padding:.2em}
.uploaded{border:.2em solid var(--winner-color);border-radius:6px;padding:.2em}
h4{width:fit-content;margin:1em auto .4em auto}
.initHid{display:none}
#upload-all{font-size:200%;padding:1em}
h2{margin-top:2em}
button{margin:0 .2em}
img.photo-upload{display:block;margin:0.5em auto;max-width:15em;border-radius:6px;border:1px solid var(--main-border-color)}
